@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
    background: #F5F5F5;
}

h1{
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: .5rem;
}

h2{
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: .5rem;
}

p{
    width: 70%;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: .5rem;

}

.background-white{
    background: white;
}

.content{
    width: 80%;
    margin: 2.5rem auto;

    display: grid;
    grid-template-columns: 1fr;
    
}




/* Styles for Youtube Embed */

.video-container {
    position: relative;
    padding-bottom: 48.18%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.desc {
    font-family: "Mercury SSm A", "Mercury SSm B";
    font-style: italic;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0 auto;
}

.centered{
    text-align:center;
}

.button {
    width: 90px;
    padding: 5px 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    text-align: center;
    font-size: .9em;
    border: 1px solid #e0e0e0;
    float: left;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.button:hover {
    background: #e0e0e0;
}

.button.current {
    background: #000;
    color: #fff;
}

#n {
    font-size: 3.0em;
}

svg
{
    position: relative;
    padding: 5px;
}

.bar {
    fill: orange;
  }

.label
{
    font-size: 0.7em;
    font-weight: bold;
}

#chart1
{
        text-align: center;
}
#chart1 h6
{
    display: block;
    height: 3000px;
}


.chartholder{
    width: 20%;
    text-align:center;
    display: inline-block;
    padding-bottom:10px;
    padding: 0px;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #069ea8;
    padding: 14px;
    text-align: center;
}
.highlight{
   opacity: 1 !important;
}


.outside{
    display: grid;
    justify-items: start;
    padding-left: 5%;
    align-items: center;
}

select {

    font-size: 1.6rem;
 }
 